<p id="notice"><%= notice %></p>

<p>
  <strong>Testimony:</strong>
  <%= @test.test %>
</p>
<br/>
<p>
  <strong>Name:</strong>
  <%= @test.tester %>
</p>
<% if @test.user == current_user %>
<%= link_to 'Edit', edit_test_path(@test), class: 'btn btn-info' %> |
<% end %>
<%= link_to 'Back', tests_path, class: 'btn btn-info' %>
