<p id="notice"><%= notice %></p>

<p>
  <strong>Test:</strong>
  <%= @test.test %>
</p>
<br/>
<p>
  <strong>Tester:</strong>
  <%= @test.tester %>
</p>
<% if @test.user == current_user %>
<%= link_to 'Edit', edit_test_path(@test) %> |
<% end %>
<%= link_to 'Back', tests_path %>
